.AddDetails {
}
.AddDetails__title {
	background: #e9e9e9;
}
.AddDetails__form{
	/*background: #fcfcfc;*/
	background: #00ffff;/* for test */
}
.AddDetails_h2 {
	text-align: center;
}
.AddDetails_ul {
	list-style-type: none;
}
